@property --rotate {
    syntax: "<angle>";
    initial-value: 135deg;
    inherits: false;
  }

body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

h1{
    width: 200px;
    background-color: yellow;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 0 146px 6px #f3e821;
}


.github{
    position:absolute;
    top: 10%;
    width: 100px;
    background-color: gray;
    height: 100px;
    border-radius: 100px;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: github;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(
    var(--rotate)
    , black 20%, #ccc 50%, #fff);
}

.linkedin{
    position:absolute;
    top: 10%;
    width: 100px;
    background-color: gray;
    height: 100px;
    border-radius: 100px;
    left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: linkedin;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(
    var(--rotate)
    , black 20%, #ccc 50%, #fff);
}

.portfolio{
    left: 80%;
    top: 70%;
    position:absolute;
    width: 100px;
    background-color: gray;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: portfolio;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: linear-gradient(
    var(--rotate)
    , black 20%, #ccc 50%, #fff);
}

.instagram{
    left: 15%;
    top: 70%;
    position:absolute;
    width: 100px;
    background-color: gray;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: instagram;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transition: all 800ms;
    animation-play-state: running;
    animation-timing-function: linear;
    background-image: linear-gradient(
    var(--rotate)
    , black 20%, #ccc 50%, #fff);
}

.all:hover span{
    -webkit-animation-play-state: paused;

}

.instagram:hover{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -moz-transition:all 2s;
    -webkit-transition:all 2s;
    -o-transition:all 2s;
    transition:all 2s;
    cursor: pointer;
}

@keyframes instagram {
    0%   {left:22%; top:70%;--rotate: 45deg}
    12.5% {left:7%; top:40%; --rotate: 90deg}
    25%  {left:22%; top:15%;--rotate: 135deg}
    37.5% {left:47%; top:5%; --rotate: 180deg}
    50%  {left:73%; top:15%;--rotate: 225deg}
    62.5% {left:88%; top:40%; --rotate: 270deg}
    75%  {left:80%; top:70%;--rotate: 315deg}
    87.5% {left:47%; top:75%; --rotate: 360deg}
    100% {left:15%; top:70%;--rotate: 405deg}
}

@keyframes portfolio{
    0%  {left:80%; top:70%;--rotate: 315deg}
    12.5% {left:47%; top:75%; --rotate: 360deg}
    25% {left:15%; top:70%;--rotate: 405deg}
    37.5% {left:7%; top:40%; --rotate: 450deg}
    50% {left:15%; top:10%;--rotate: 495deg}
    62.5% {left:47%; top:5%; --rotate: 540deg}
    75%  {left:80%; top:10%;--rotate: 585deg}
    87.5% {left:88%; top:40%; --rotate: 630deg}
    100%  {left:80%; top:70%;--rotate: 675deg}
}

@keyframes github{
    0% {left:15%; top:10%; --rotate:135deg}
    12.5% {left:47%; top:5%; --rotate: 180deg}
    25%  {left:80%; top:10%; --rotate: 225deg}
    37.5% {left:88%; top:40%; --rotate: 270deg}
    50%  {left:80%; top:70%; --rotate: 315deg}
    62.5% {left:47%; top:75%; --rotate: 360deg}
    75% {left:15%; top:70%; --rotate: 405deg}
    87.5% {left:7%; top:40%; --rotate: 450deg}
    100% {left:15%; top:10%; --rotate: 495deg}
}

@keyframes linkedin{
    0%  {left:80%; top:10%;--rotate: 225deg}
    12.5% {left:88%; top:40%; --rotate: 270deg}
    25%  {left:80%; top:70%;--rotate: 315deg}
    37.5% {left:47%; top:75%; --rotate: 360deg}
    50% {left:15%; top:70%; --rotate: 405deg}
    62.5% {left:7%; top:40%; --rotate: 450deg}
    75% {left:15%; top:10%; --rotate: 495deg}
    87.5% {left:47%; top:5%; --rotate: 540deg}
    100% {left:80%; top:10%; --rotate: 585deg}
}
